<!DOCTYPE html>
<html>
    <head>
        <title>Build-A-Blog!</title>
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
<body>
    <span>
        <a href='/blog'>View all posts!</a>
    </span>
    <span>
        <a href='/newpost'>Add a new post!</a>
    </span>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, messages in messages %}
            <p class="{{category}}">{{ messages }}</p>
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
<footer>

</footer>
</html>
