<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>Blogz</title>
    </head>
<body>
    <span>
        <a href='/blog'>View all posts!</a>
    </span>
    <span>
        <a href='/newpost'>Add a new post!</a>
    </span>
    <span>
        <a href='/login'>Log in!</a>
    </span>
    <span>
        <a href='/logout'>Log out!</a>
    </span>
    <span>
        <a href='/'>Home</a>
    </span>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, messages in messages %}
            <p class="{{ category }}">{{ messages }}</p>
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
<footer>

</footer>
</html>
